@tailwind base;
@tailwind components;
@tailwind utilities;

.cut-image{
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
.bg-repeat {
    background-repeat: repeat-x; 
    background-size: auto 100%;
}
@keyframes shake {
    0% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes zoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(0); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

@keyframes flip {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(180deg); }
}

/* Add more keyframe animations if needed */

.shake {
    animation: shake 1.5s ease-in-out infinite;
}

.rotate {
    animation: rotate 20s linear infinite;
}

.bounce {
    animation: bounce 1.5s ease-in-out infinite;
}

.fade {
    animation: fade 1.5s ease-in-out infinite;
}

.zoom {
    animation: zoom 1.5s ease-in-out infinite;
}

.slide {
    animation: slide 6s ease-in-out infinite;
}

.spin {
    animation: spin 10s linear infinite;
}

.pulse {
    animation: pulse 1.5s ease-in-out infinite;
}

.heartbeat {
    animation: heartbeat 5s ease-in-out infinite;
}

.flip {
    animation: flip 2s linear infinite;
}

.yellowtail-regular {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .active {
    color: rgb(192, 24, 24);

}